﻿/******************************************************************
	* Table of Contents
 ******************************************************************
	* 1. Default Overrides
	* 2. General Classes Styling
	* 3. Menu Styling
	* 4. Content Placeholder Styling
	* 5. Footer Styling
	*/

/* 1. Default Overrides */

body {
    padding-top: 0;
    padding-bottom: 0;
}

pre code {
    white-space: pre;
}

tr td:first-child {
    padding-right: 1em;
}

/* 2. General Classes Styling */

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    margin: 0;
}

.colour-container {
    overflow: hidden;
    background: #A3CEF1;
    padding: 10px 0 10px 0;
}

.codeBoxArea {
    margin-bottom: 1em;
}

/* 3. Menu Styling */

#main-navigation {
    background: #274C77;
    padding-left: 5px;
}

#main-navigation a {
    color: #FFFFFF;
    font-size: 20px;
}

#main-navigation ul {
    padding-left: 5px;
    margin-bottom: 0;
}

#main-navigation li {
    display: inline-block;
    margin-right: 30px;
}

#main-navigation a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #FF9505;
}

/* 4. Content Placeholder Styling */

#tricky-concept h1 {
    margin-top: 10px;
    text-align: center;
}

#tricky-concept, #example-code, #my-code, #helpful-links {
    margin-bottom: 10px;
    padding: 0 15px 0 15px;
}

#tricky-concept h2, #example-code h2, #my-code h2, #helpful-links h2 {
    margin-top: 0;
}

#helpful-links a {
    color: #274C77;
    text-decoration: underline;
}

#helpful-links a:hover {
    font-weight: bold;
}

/* 5. Footer Styling */

footer {
    background: #274C77;
    display: block;
}

footer p {
    padding-left: 5px;
    margin-bottom: 0;
    text-align: right;
}