﻿body {
    color: #FFFFFF;
}

.colour-container {
    background: #265700;
}

#main-navigation, footer {
    background: #000000;
}

#main-navigation a, #helpful-links a {
    color: #FFFFFF;
}

#main-navigation a:hover {
    color: #F7BD24;
}
