﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignment2a.usercontrols.CodeBox" %>

<div class="codeBoxArea">
    <asp:DataGrid ID="myCodeBox" runat="server" CssClass="code" SkinID="DarkCodeBox">
    </asp:DataGrid>
</div>
